<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="https://crmtest2.herokuapp.com/zoho" method="post">
    <input type='text' name='company'  placeholder="input company"/>
    <input type='text' name='lname'  placeholder="input lname"/>
    <input type='text' name='city'  placeholder="input city"/>
    <input type='text' name='Email' placeholder="input email"/>
    <input type='text' style="display:none" name='type' value="second"/>
    <button  type="submit">Second Site</button>
</form>

</body>
</html>